alias brewski='brew update && brew upgrade && brew cask upgrade && brew cleanup; brew doctor'
alias ls='ls -GFh1'
alias ll='ls -GFhl'
alias la='ls -GFhla'
alias dir='ls -d */ | cut -f1 -d'/''
alias grep='grep --color'
alias whatsmyip='curl ifconfig.co'
alias grepip='grep -Eo "([0-9]{1,3}\.){3}[0-9]{1,3}(\/([0-9]|[1-2][0-9]|3[0-2]))?"'
alias testssl='docker run --rm -ti  drwetter/testssl.sh:3.1dev'
alias s='git status'
alias gp='git pull'
alias p1='ping -c 4 1.1'
alias weather='curl https://wttr.in/Manchester\?m'
alias asvs='docker run -p 8000:8000 asvs'
alias burl='curl -x 127.0.0.1:8080 -k'
alias dsa='detect-secrets audit .secrets.baseline'